body {
    color: #eee;
    background: #121212;
    text-align: center;
}

p {
    font-size: large;
}

/* #display {
    display: none;
} */

#prompt {
    display: none;
}

#error {
    color: red;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid white;
    color: #fff;
}

#battery {
    position: relative;
    display: block;
    margin: 35px 0 0 5px;
    background: #07ec1a;
    width: 12%;
    height: 28px;
    float: left;
    margin-left: 250px;
}

#battery:before {
    content: '';
    display: block;
    background: transparent;
    border: 6px solid #ffffff;
    margin: -12px;
    width: 85px;
    height: 40px;
    position: absolute;
    border-radius: 2px;
}

#battery:after {
    content: '';
    display: block;
    background: transparent;
    border: 6px solid #ffffff;
    margin: 0px 80px;
    width: 6px;
    height: 16px;
    position: absolute;
    border-radius: 2px;
}
