body {
    color: #eee;
    background: #121212;
    text-align: center;
}

p {
    font-size: large;
}

/* #display {
    display: none;
} */

#prompt {
    display: none;
}

#error {
    color: red;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid white;
    color: #fff;
}

#battery {
    position: relative;
    display: block;
    margin: 35px 0 0 5px;
    background: #07ec1a;
    /* width: 12%; */
    width: 11vw;
    height: 28px;
    float: left;
    margin-left: 43vw;
}

#battery:before {
    content: '';
    display: block;
    background: transparent;
    border: 6px solid #ffffff;
    margin: -12px;
    /* width: 85px; */
    width: 8vw;
    /* height: 40px; */
    height: 6vh;
    position: absolute;
    border-radius: 2px;
}

#battery:after {
    content: '';
    display: block;
    background: #fff;
    /* background: transparent; */
    /* border: 6px solid #ffffff; */
    border: 0.8vw solid #ffffff;
    /* margin: 0px 80px */
    margin: 0px 7.5vw;
    width: 0vh;
    /* width: 6px; */
    /* height: 16px; */
    height: 2.22vh;
    /* position: absolute; */
    position: sticky;
    border-radius: 2px;
}
